#include "rcstuff.h"

#define APPNAME "PuTTY"
#define APPDESC "SSH, Telnet and Rlogin client"

#include "win_res.rc2"
#include "puttygen.rc"
#include "pageant.rc"

#ifndef NO_MANIFESTS

#ifndef RT_MANIFEST
#define RT_MANIFEST 24
#endif

#ifndef APP_MANIFEST
#define APP_MANIFEST 1
#endif

#ifndef _WIN64
APP_MANIFEST RT_MANIFEST "putty.mft"
#else
APP_MANIFEST RT_MANIFEST "putty64.mft"
#endif
#endif /* NO_MANIFESTS */
